:root{
    --ball-color: cyan;
    --bg-section-color: rgb(221, 221, 221);
    --bg-next-button: rgb(0, 102, 255);
    --bg-back-button: rgb(255, 115, 0);
    --secondary-text-color: white;
}

h1 {
    text-align: center;
}

h2 {
    padding-left: 4rem;
    padding-bottom: 1rem;
}

#firstContent, #zero-inputs, #next-button {
    display: block;
}

#secondContent, #constant-inputs, #controlDict-inputs, #fvSchemes-inputs, #fvSolution-inputs, #generator-inputs, #generator-button, #back-button {
    display: none;
}

#resultsReady {
    display: none;
}

/*--------------------------------- BALLS STYLES ---------------------------------------------*/
.balls-section {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

.ball {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: solid;
    border-width: 1px;
    border-color: var(--bg-back-button);
    text-align: center;
    background-color: white;
}

.ball>p {
    margin-top: 11px;
}

.active-ball {
    background-color: var(--bg-next-button);
    border-color: var(--bg-next-button);
}

.active-ball>p {
    color: var(--secondary-text-color);
}

.ball-separator {
    display: inline-block;
    width: 80px;
    height: 40px;
    text-align: center;
    margin-left: -4px;
    margin-right: -4px;
}

.ball-separator>hr {
    width: 100%;
    border: 0.5px solid var(--bg-back-button);
    margin-bottom: 4px;
}


/*--------------------------------- INPUTS STYLES ---------------------------------------------*/
.data-container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 0.5em;
    background-color: var(--bg-section-color);
    border: solid;
    border-radius: 20px;
    border-width: 0;
    padding-top: 0;
    padding-bottom: 25px;
}

.input-label, .input-title {
    width: 80%;
    margin: 0 auto;
}

.input-data {
    display: inline-flex;
    width: 100%;
    margin-bottom: 0;
}

.input-data>label, .input-data>select, .input-data>input {
    margin-top: 25px;
    margin-bottom: 0;
}

.input-data>label {
    width: 200px;
    margin-left: auto;
    margin-right: 5px;
}

.input-data>.checkbox-label {
    width: 480px;
    margin-left: auto;
    margin-right: 5px;
}

.input-data>.long-input {
    width: 300px;
    margin-left: 5px;
    margin-right: auto;
}

.input-data>.short-input {
    width: 200px;
    margin-left: 5px;
    margin-right: auto;
}


.input-data>select {
    width: 308px;
    margin-left: 4px;
    margin-right: auto;
}

.input-data>.checkbox {
    width: 30px;
    margin-left: px;
    margin-right: auto;
}

.axis-data {
    display: inline-flex;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0 0em;
    justify-content: space-around;
    align-items: center;
}

.axis-data>div>.axis-label {
    width: 100px;
    margin-left: 5px;
    margin-right: 0;
}

.axis-data>div>.axis-input {
    width: 100px;
    margin-left: 0;
    margin-right: 5px;
}

/*--------------------------------- BUTTONS STYLES ---------------------------------------------*/
.buttons-container {
    display: inline-flex;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
}

.center-buttons {
    margin-left: auto;
    margin-right: auto;
}

.right-button {
    margin-left: 5px;
    margin-right: auto;
}

.left-button {
    margin-left: auto;
    margin-right: 5px;
}

.buttons-style {
    width: 14em;
    border-radius: 20px;
    border-width: 0;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}

.next-button {
    background-color: var(--bg-next-button);
    color: var(--secondary-text-color);
}

.generator-button {
    background-color: var(--bg-next-button);
    color: var(--secondary-text-color);
}

.back-button {
    background-color: var(--bg-back-button);
}

/*--------------------------------- BUTTONS STYLES ---------------------------------------------*/
.generator-container {
    display: grid;
    width: 100%;
    justify-content: center;
}

.generator, .executioner {
    width: 100%;
    margin: 0 auto;
}