/*------------------------- IMPORTS -------------------------*/
@import "./buttons.css";
@import "./inputs.css";
@import "./generator.css";
@import "./balls.css";
@import "./axis.css";
@import "./icons.css";
@import "./info.css";

h1 {
    font-size: 28px;
    text-align: center;
    color: var(--whitetext-pallete);
}

.sim-name{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: start;
    padding: 0;
}

h2 {
    padding-left: 4rem;
    padding-bottom: 1rem;
}

#firstContent-simple, #firstContent-advanced, #next-button {
    display: block;
}

#secondContent-simple, #zero-inputs-simple, #secondContent-advanced, #zero-inputs-advanced {
    display: none;
}

#constant-inputs-simple, #controlDict-inputs-simple, #constant-inputs-advanced, #controlDict-inputs-advanced {
    display: none;
} 

#fvSchemes-inputs-simple, #fvSolution-inputs-simple, #fvSchemes-inputs-advanced, #fvSolution-inputs-advanced {
    display: none;
}

#generator-inputs-simple, #generator-inputs-advanced {
    display: none;
}

#back-button, #firstContent-input-simple {
    display: none;
} 

#drag-vector, #pitch-vector, #lift-vector {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}