/*--------------------------------- BALLS STYLES ---------------------------------------------*/
.balls-section {
    color: var(--blacktext-pallete);
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

.ball {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: solid;
    border-width: 1px;
    border-color: var(--grey-pallete);
    text-align: center;
    background-color: var(--grey-pallete);
}

.ball>p {
    margin-top: 11px;
}

.active-ball {
    background-color: var(--orange-pallete);
    border-color: var(--orange-pallete);
}

.active-ball>p {
    color: var(--whitetext-pallete);
}

.ball-separator {
    display: inline-block;
    width: 80px;
    height: 40px;
    text-align: center;
    margin-left: -4px;
    margin-right: -4px;
}

.ball-separator>hr {
    width: 100%;
    border: 0.5px solid var(--grey-pallete);
    margin-bottom: 4px;
}