/*--------------------------------- BALLS STYLES ---------------------------------------------*/
.balls-section {
    color: var(--blacktext-pallete);
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.ball {
    display: inline-block;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    border-color: var(--grey-pallete);
    text-align: center;
    background-color: var(--grey-pallete);
    padding: 5px 40px;
    margin: 0 auto;
    cursor: pointer;
}

.ball:hover {
    padding-bottom: 0px;
    color: var(--blacktext-pallete);
    border-bottom: 5px solid var(--orange-pallete);
}

.ball>p {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
}

.active-ball {
    background-color: var(--orange-pallete);
    border-color: var(--orange-pallete);
}

.active-ball>p {
    color: var(--whitetext-pallete);
}

.ball-separator {
    display: inline-block;
    width: 80px;
    height: 40px;
    text-align: center;
    margin-left: -4px;
    margin-right: -4px;
}

.ball-separator>hr {
    width: 100%;
    border: 0.5px solid var(--grey-pallete);
    margin-bottom: 4px;
}