/*------------------ BUTTONS STYLES --------------------*/
.buttons-container {
    display: inline-flex;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
}

.center-buttons {
    margin-left: auto;
    margin-right: auto;
}

.right-button {
    margin-left: 5px;
    margin-right: auto;
}

.left-button {
    margin-left: auto;
    margin-right: 5px;
}

.buttons-style {
    width: 14em;
    border-radius: 20px;
    border-width: 0;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
    font-weight: bold;
}

.back-button {
    margin-top: 0;
    background-color: var(--orange-pallete);
    color: var(--background-pallete);
}


.next-button, .folder-button, .generator-button {
    margin-top: 0;
    background-color: var(--yellow-pallete);
    color: var(--whitetext-pallete);
}

button:disabled,
button[disabled] {
    background-color: var(--grey-pallete);
    color: var(--disabled-text-color)
}