/*--------------------------------- GENERATOR STYLES ---------------------------------------------*/
.generator-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--blacktext-pallete);
    width: 80%;
    margin: 0 auto;
    background-color: var(--whitetext-pallete);
    border: solid;
    border-radius: 20px;
    border-width: 0;
    padding-top: 0;
}

.generator, .executioner {
    display: inline-flex;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 0;
    justify-content: space-between;
    align-items: center;
}

.spinner-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-weight: bold;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--orange-pallete);
    border-color: var(--orange-pallete) transparent var(--orange-pallete) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}