
main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

aside {
    width: 20%;
    border-width: 1px;
    border-color: red;
    border-style: solid;
}

section {
    border-width: 1px;
    border-color: aqua;
    border-style: solid;
    min-height: 800px;
    width: 80%;
    margin: 0 auto;
	padding: 1em;
}

iframe {
    width: 100%;
    height: 100%;
    border-width: 1px;
}

footer{
    border-width: 1px;
    border-color: yellow;
    border-style: solid;
}