/*--------------------------------- INPUTS STYLES ---------------------------------------------*/
.data-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--blacktext-pallete);
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1em;
    background-color: var(--whitetext-pallete);
    border: solid;
    border-radius: 20px;
    border-width: 0;
    padding-top: 0;
    padding-bottom: 25px;
}

#forces-extra-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-data {
    display: inline-flex;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 0;
    justify-content: space-between;
    align-items: flex-end;
}

.input-data>div {
    display: inline-flex;
    margin-bottom: 0;
    justify-content: flex-end;
    align-items: flex-end;
}

.input-data>label, .input-data>div>select, .input-data>select, .input-data>input , .input-data>p {
    margin-top: 20px;
    margin-bottom: 0;
}

.input-data>label {
    width: 228px;
}

.input-data>p {
    width: 349px;
    margin-left: 1px;
    margin-right: 187px;
}

.input-data>.long-label {
    width: 400px;
    margin-right: 28px;
}

.input-data>.checkbox-label {
    width: 499px;
}

.input-data>div>.long-input, .input-data>.long-input {
    width: 300px;
}

.input-data>div>.short-input, .input-data>.short-input {
    width: 100px;
}

.input-data>div>select, .input-data>select {
    width: 308px;
}

.input-data>div>.short-selector, .input-data>.short-selector {
    width: 108px;
}

.input-data>div>.checkbox {
    width: 30px;
}

.input-data>.schemes-title {
    width: 350px;
}

.schemes-data {
    display: inline-flex;
    flex-direction: column;
    width: 68%;
    margin-left: 16%;
    margin-right: 16%;
    margin-bottom: 1em;
    padding: 0 0em;
    justify-content: space-between;
    align-items: center;
}

.subinput-data {
    display: inline-flex;
    width: 55%;
    margin-bottom: 0;
}

.subinput-data>label, .subinput-data>select, .subinput-data>input {
    margin-top: 10px;
    margin-bottom: 0;
}

.subinput-data>label {
    width: 150px;
}

.subinput-data>select {
    width: 250px;
}

.subinput-data>input {
    width: 242px;
}

.input-label {
    width: 80%;
    margin: 0 auto;
}

.card-title {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.card-title>p, .card-title>h2 {
    padding-bottom: 0;
    width: fit-content;
    margin-left: 0;
    margin-right: 10px;
}