/*--------------------------------- nav STYLES ---------------------------------------------*/
.nav-section {
    color: var(--blacktext-pallete);
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.nav-options-list{
    width: 80%;
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-options-sublist {
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.nav-option {
    display: inline-block;
    width: 75px;
    height: 40px;
    border-radius: 5px;
    border: none;
    text-align: center;
    background-color: var(--whitetext-pallete);
    padding: 5px 20px;
    cursor: pointer;
}

.nav-option-hidden {
    visibility: hidden;
}

.nav-option:hover {
    padding-bottom: 0px;
    color: var(--blacktext-pallete);
    border-bottom: 5px solid var(--orange-pallete);
}

.nav-option>p {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
}

.active-nav {
    background-color: var(--orange-pallete);
    border-color: var(--orange-pallete);
}

.active-nav>p {
    color: var(--whitetext-pallete);
}