.img-div {
	margin: 0 auto;
	text-align: center;
}

.img-start {
	margin: 50px auto;
	max-height: 350px;
}

.table-title{
	display: none;
	text-align: start;
	margin-left: 10%;
	padding: 0;
}

table {
	display: none;
	width: 80%;
	margin: 0 auto;
	border-collapse: collapse;
}

th, td {
	color: var(--blacktext-pallete);
	border: 1px solid  var(--blacktext-pallete);
	background-color: rgb(209, 209, 209);
}

.clickable-td:hover {
	cursor: pointer;
	text-decoration: underline;
}

.icon {
    padding-bottom: 5px;
    padding-top: 10px;
    max-height: 25px;
}

.trash-icon {
	filter: invert(13%) sepia(76%) saturate(2160%) hue-rotate(344deg) brightness(103%) contrast(94%);
}

.graph-icon {
	filter: invert(21%) sepia(82%) saturate(2014%) hue-rotate(174deg) brightness(98%) contrast(95%);
}