:root{
    --ball-color: cyan;
    --bg-section-color: rgb(221, 221, 221);
    --bg-button-disabled-color: rgb(121, 121, 121);
    --bg-next-button: rgb(0, 102, 255);
    --bg-back-button: rgb(255, 115, 0);
    --secondary-text-color: white;
    --disabled-text-color: white;
}

html {
    background-color: rgb(118, 118, 118);
}

