<article id="flux-conditions" > 
	<h2 class="input-label">Condiciones de simulación</h2>
	<section class="data-container">
		<div class="input-data">
			<label for="solver">Solver</label>
			<div>
				<select id="solver" onchange="solverChanges(value)">
					<option value="default">Seleccione...</option>
					<option value="icoFoam">icoFoam</option>
					<option value="simpleFoam">simpleFoam</option>
					<option value="pimpleFoam">pimpleFoam</option>
					<option value="pisoFoam">pisoFoam</option>
				</select>
				<span class="material-symbols-rounded" onclick="showInfo('solver')">info</span>
			</div>
		</div>
		<div id="solver-info" class="info-div info-div-border" style="display: none;"></div>
		<div id="turbulence-model-div" class="input-data">
			<label for="turbulence-model">Modelo de turbulencia</label>
			<div>
				<select id="turbulence-model"></select>
				<span class="material-symbols-rounded" onclick="showInfo('turbulence-model')">info</span>
			</div>
		</div>
		<div id="turbulence-model-info" class="info-div info-div-border" style="display: none;"></div>
	</section>
</article>