<h2 class="input-label">Condiciones de simulación</h2>
<section id="simulation-conditions" class="data-container">
	<div class="input-data">
		<label for="simulation-begin">Inicio de la simulación</label>
		<div>
			<select id="simulation-begin" onchange="startTime(value)">
				<option value="startTime">Primera iteración</option>
				<option value="iterTime">Seleccionar una iteración</option>
				<option value="lastTime">Última iteración</option>
			</select>
			<span class="material-symbols-rounded" onclick="showInfo('simulation-begin')">info</span>
		</div>
	</div>
	<div id="simulation-begin-info" class="info-div info-div-border" style="display: none;"></div>
	<div class="input-data">
		<label for="simulation-begin-time">Empezar en</label>
		<div>
			<input class="long-input" id="simulation-begin-time" type="number"/>
			<span class="material-symbols-rounded" onclick="showInfo('simulation-begin-time')">info</span>
		</div>
	</div>
	<div id="simulation-begin-time-info" class="info-div info-div-border" style="display: none;"></div>
	<div class="input-data">
		<label for="simulation-end">Fin de la simulación</label>
		<div>
			<select id="simulation-end" onchange="endTime(value)">
				<option value="lastTime">Fin de la simulación</option>
				<option value="endTime">Seleccionar una iteración</option>
			</select>
			<span class="material-symbols-rounded" onclick="showInfo('simulation-end')">info</span>
		</div>
	</div>
	<div id="simulation-end-info" class="info-div info-div-border" style="display: none;"></div>
	<div class="input-data">
		<label for="simulation-end-time">Terminar en</label>
		<div>
			<input class="long-input" id="simulation-end-time" type="number"/>
			<span class="material-symbols-rounded" onclick="showInfo('simulation-end-time')">info</span>
		</div>
	</div>
	<div id="simulation-end-time-info" class="info-div info-div-border" style="display: none;"></div>
	<div class="input-data">
		<label for="simulation-deltat">Diferencial de tiempo</label>
		<div>
			<input class="long-input" id="simulation-deltat" type="number"/>
			<span class="material-symbols-rounded" onclick="showInfo('simulation-deltat')">info</span>
		</div>
	</div>
	<div id="simulation-deltat-info" class="info-div info-div-border" style="display: none;"></div>
	<div class="input-data">
		<label for="deltat-adjust" class="checkbox-label">Ajustar el diferencial de tiempo</label>
		<div>
			<input type="checkbox" id="deltat-adjust" class="checkbox"/>
			<span class="material-symbols-rounded" onclick="showInfo('deltat-adjust')">info</span>
		</div>
	</div>
	<div id="deltat-adjust-info" class="info-div info-div-border" style="display: none;"></div>
	<div class="input-data">
		<label for="run-time-modifiable" class="checkbox-label">Modificable en tiempo de ejecución</label>
		<div>
			<input type="checkbox" id="run-time-modifiable" class="checkbox"/>
			<span class="material-symbols-rounded" onclick="showInfo('run-time-modifiable')">info</span>
		</div>
	</div>
	<div id="run-time-modifiable-info" class="info-div info-div-border" style="display: none;"></div>
	<div class="input-data">
		<label for="forces-data" class="checkbox-label">Generar fuerzas</label>
		<div>
			<input type="checkbox" id="forces-data"
				class="checkbox" onchange="fillFormsForcesFields()"/>
			<span class="material-symbols-rounded" onclick="showInfo('forces-data')">info</span>
		</div>
	</div>
	<div id="forces-data-info" class="info-div info-div-border" style="display: none;"></div>
	<div class="input-data">
		<label for="forcesCoeffs-data" class="checkbox-label">Generar coeficientes de fuerzas</label>
		<div>
			<input type="checkbox" id="forcesCoeffs-data"
				class="checkbox" onchange="fillFormsForcesFields()"/>
			<span class="material-symbols-rounded" onclick="showInfo('forcesCoeffs-data')">info</span>
		</div>
	</div>
	<div id="forcesCoeffs-data-info" class="info-div info-div-border" style="display: none;"></div>
	<!-- <div class="input-data">
		<label for="lRef-data" class="long-label">Longitud de referencia</label>
		<div>
			<input class="short-input" type="text" id="lRef-data" type="number"/>
			<span class="material-symbols-rounded" onclick="showInfo('lRef-data')">info</span>
		</div>
	</div>
	<div id="lRef-data-info" class="info-div info-div-border" style="display: none;"></div> -->
</section>
<div id="forces-inputs"></div>