<section class="data-container">
	<div class="generator-container">
		<div class="generator">
			<p>¿Desea generar los ficheros en la ruta indicada?</p>
			<button id="generator2-button" class="buttons-style center-buttons firstContent-input-simple" onclick="pagination(true)">Generar ficheros</button>
		</div>
		<div id="executioner" class="executioner">
			<p>
				Su sistema operativo permite realizar la ejecución de la simulación desde esta aplicación
				¿Desea ejecutar la simulación?
			</p>
			<button id="generator3-button" class="buttons-style center-buttons firstContent-input-simple" onclick="pagination(true)">Ejecutar simulación</button>
		</div>
	</div>
</section>