<article class="data-container">
	<section class="generator-container">
		<section class="generator">
			<p>¿Desea generar los ficheros en la ruta indicada?</p>
			<button id="generator2-button" onclick="generateFiles()"
					class="buttons-style center-buttons generator-button">
				Generar ficheros
			</button>
		</section>
		<section id="executioner" class="executioner">
			<p>¿Desea generar los ficheros y ejecutar la simulación?</p>
			<button id="generator3-button" onclick="generateAndExecute()"
					class="buttons-style center-buttons generator-button">
				Ejecutar simulación
			</button>
		</section>
		<section id="spinner" class="spinner-section" style="display: none;">
			<p>Simulación en proceso...</p>
			<div class="lds-dual-ring"></div>
		</section>
		<section id="execution-info" class="spinner-section" style="display: none;"></section>
	</section>
</article>