<h2 class="input-label">Esquemas predeterminados de la simulación</h2>
<div class="data-container">
	<div class="input-data">
		<label for="temporal-schema">Esquema temporal</label>
		<select id="temporal-schema"> 
			<option value="steadyState">Estacionario</option>
			<option value="transitory">Transitorio</option>
		</select>
	</div>
	<br>
	<div class="input-data">
		<p class="schemes-title">Esquema para los gradientes</p>
	</div>
	<div class="schemes-data">
		<div class="subinput-data">
			<label for="default-grad-limiter">Límites</label>
			<select id="default-grad-limiter"> 
				<option value="default">Sin limitar</option>
				<option value="cellLimited">Limitado en las celdas</option>
				<option value="cellMDLimited">Limitado multidireccional en las celdas</option>
				<option value="faceLimited">Limitado en las caras</option>
				<option value="faceMDLimited">Limitado multidireccional en las caras</option>
			</select>
		</div>
		<div class="subinput-data">
			<label for="default-grad-schema">Esquema</label>
			<select id="default-grad-schema"> 
				<option value="Gauss">Gauss</option>
				<option value="leastSquares">Mínimos cuadrados</option>
			</select>
		</div>
		<div class="subinput-data">
			<label for="default-grad-interpolation">Interpolación</label>
			<select id="default-grad-interpolation"> 
				<option value="linear">Lineal</option>
				<option value="pointLinear">Lineal basado en los puntos</option>
				<option value="leastSquares">Mínimos cuadrados</option>
			</select>
		</div>
	</div>
	<br>
	<div class="input-data">
		<label for="divergency-schema">Esquema para las divergencias</label>
		<select id="divergency-schema"> 
			<option value="gaussLinear">Gauss Lineal</option>
			<option value="linear">Lineal</option>
			<option value="gaussLinearBounded">Gauss Lineal limitado</option>
			<option value="gaussLinearUpwind">Gauss Lineal aguas arriba</option>
		</select>
	</div>
	<br>
	<div class="input-data">
		<label for="laplacian-schema">Esquema para los laplacianos</label>
		<select id="laplacian-schema"> 
			<option value="gaussLinear">Gauss Lineal</option>
			<option value="linear">Lineal</option>
			<option value="gaussLinearCell">Gauss Lineal limitado a las celdas</option>
			<option value="gaussLinearFace">Gauss Lineal limitado a las caras</option>
		</select>
	</div>
	<br>
	<div class="input-data">
		<label for="interpolation-schema">Esquema de interpolación</label>
		<select id="interpolation-schema">
			<option value="linear">Lineal</option>
			<option value="gaussLinear">Gauss Lineal</option>
		</select>
	</div>
	<br>
	<div class="input-data">
		<label for="secondGrad-schema">Gradientes de segundo orden</label>
		<select id="secondGrad-schema">
			<option value="corrected">Corregido</option>
			<option value="orthogonal">Ortogonal</option>
		</select>
	</div>
	<br>
	<div class="input-data">
		<label for="wall-schema">Distribución de pared</label>
		<select id="wall-schema"> 
			<option value="meshWave">MeshWave</option>
			<option value="cubic">Cubic</option>
		</select>
	</div>
</div>
<div id="fvSchemes-variables-inputs"></div>