<h2 class="input-label">Esquemas predeterminados de la simulación</h2>
<section class="data-container">
	<div class="input-data">
		<label for="temporal-schema">Esquema temporal</label>
		<div>
			<select id="temporal-schema"> 
				<option value="steadyState">Estacionario</option>
				<option value="Euler">Euler</option>
			</select>
			<span class="material-symbols-rounded" onclick="showInfo('temporal-schema')">info</span>
		</div>
	</div>
	<div id="temporal-schema-info" class="info-div info-div-border" style="display: none;">
		<p>
			Esquemas aplicados a las derivadas temporales para el cálculo de las ecuaciones. Se han definido dos opciones:
		</p>
		<ul>
			<li>
				<strong>Esquema estacionario:</strong> Las derivadas de tiempo en las ecuaciones son
				despreciadas.
			</li>
			<li>
				<strong>Esquema de <a target="blank" href="https://es.wikipedia.org/wiki/M%C3%A9todo_de_Euler">Euler</a>:</strong>
				Método de primer orden con el que las derivadas de tiempo se calculan a partir de un valor
				inicial.
			</li>
		</ul>
	</div>
	<div class="input-data">
		<p class="schemes-title">Esquema para los gradientes</p>
		<span class="material-symbols-rounded" onclick="showInfo('default-grad')">info</span>
	</div>
	<div id="default-grad-info" class="info-div info-div-border" style="display: none;">
		<p>
			Esquemas aplicados en el cálculo de <a target="blank" href="https://www.openfoam.com/documentation/guides/latest/doc/guide-schemes-gradient.html">gradientes</a>. Estos esquemas se subdividen en dos partes:
			esquema e interpolación; y se dan las siguientes opciones:
		</p>
		<ul>
			<li>Para el esquema:
				<ul>
					<li>
						<strong><a target="blank" href="https://www.openfoam.com/documentation/guides/latest/doc/guide-schemes-gradient-gauss.html">Teorema de Gauss</a></strong>
					</li>
					<li>
						<strong><a target="blank" href="https://www.openfoam.com/documentation/guides/latest/doc/guide-schemes-gradient-least-squares.html">Mínimos cuadrados</a></strong>
					</li>
				</ul>
			</li>
			<li>Para la interpolación:
				<ul>
					<li>Lineal basado en las celdas</li>
					<li>Lineal basado en puntos</li>
					<li>Mínimos cuadrados</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="schemes-data">
		<div class="subinput-data">
			<label for="default-grad-schema">Esquema</label>
			<select id="default-grad-schema"> 
				<option value="Gauss">Gauss</option>
				<option value="leastSquares">Mínimos cuadrados</option>
			</select>
		</div>
		<div class="subinput-data">
			<label for="default-grad-interpolation">Interpolación</label>
			<select id="default-grad-interpolation"> 
				<option value="linear">Lineal</option>
				<option value="pointLinear">Lineal basado en los puntos</option>
				<option value="leastSquares">Mínimos cuadrados</option>
			</select>
		</div>
	</div>
	<div class="input-data">
		<p class="schemes-title">Esquema para las divergencias</p>
		<span class="material-symbols-rounded" onclick="showInfo('default-divergency')">info</span>
	</div>
	<div id="default-divergency-info" class="info-div info-div-border" style="display: none;">
		<p>
			Esquemas aplicados en el cálculo de <a target="blank" href="https://www.openfoam.com/documentation/guides/latest/doc/guide-schemes-divergence.html">divergencias</a>. Estos esquemas se subdividen en tres partes:
			delimitación, esquema e interpolación. Se utiliza el teorema de Gauss como esquema, el esquema
			se puede o no delimitar.y para la interpolación, se dan las siguientes opciones:
		</p>
		<ul>
			<li><a target="blank" href="https://www.openfoam.com/documentation/guides/latest/doc/guide-schemes-divergence-linear.html">Lineal</a></li>
			<li><a target="blank" href="https://www.openfoam.com/documentation/guides/latest/doc/guide-schemes-divergence-linear.html">Lineal limitado</a></li>
			<li><a target="blank" href="https://www.openfoam.com/documentation/guides/latest/doc/guide-schemes-divergence-linear-upwind.html">Lineal aguas arriba</a></li>
		</ul>
	</div>
	<div class="schemes-data">
		<div class="subinput-data">
			<label for="default-div-limiter">Delimitación</label>
			<select id="default-div-limiter"> 
				<option value="default">Sin delimitar</option>
				<option value="bounded">Delimitado</option>
			</select>
		</div>
		<div class="subinput-data">
			<label for="default-div-interpolation">Interpolación</label>
			<select id="default-div-interpolation"> 
				<option value="linear">Lineal</option>
				<option value="limitedLinear 1">Lineal limitado</option>
			</select>
		</div>
	</div>
	<div class="input-data">
		<label for="default-laplacian">Esquema para los laplacianos</label>
		<div>
			<select id="default-laplacian"> 
				<option value="corrected">Corregido</option>
				<option value="orthogonal">Ortogonal</option>
			</select>
			<span class="material-symbols-rounded" onclick="showInfo('default-laplacian')">info</span>
		</div>
	</div>
	<div id="default-laplacian-info" class="info-div info-div-border" style="display: none;">
		<p>
			Esquemas aplicados en el cálculo de <a target="blank" href="https://www.openfoam.com/documentation/guides/latest/doc/guide-schemes-laplacian.html">laplacianos</a>. El esquema
			usado es el teorema de Gauss. También se define por defecto el uso de la interpolación lineal.
			Otra característica, que se deja a elección del usuario es esquema para
			los <a target="blank" href="https://www.openfoam.com/documentation/guides/latest/doc/guide-schemes-sngrad.html">gradientes normales a la superficie</a>. Las
			opciones para este último parámetro son:
		</p>
		<ul>
			<li><a target="blank" href="https://www.openfoam.com/documentation/guides/latest/doc/guide-schemes-sngrad-corrected.html">Corregido</a></li>
			<li><a target="blank" href="https://www.openfoam.com/documentation/guides/latest/doc/guide-schemes-sngrad-orthogonal.html">Ortogonal</a></li>
		</ul>
	</div>
	<!-- DUDA - QUITAR?
	<div class="input-data">
		<label for="default-interpolation-schema">Esquema de interpolación</label>
		<div>
			<select id="default-interpolation-schema">
				<option value="linear">Lineal</option>
			</select>
			<span class="material-symbols-rounded" onclick="showInfo('default-interpolation-schema')">info</span>
		</div>
	</div>
	<div id="default-interpolation-schema-info" class="info-div info-div-border" style="display: none;">
		<p>
			
		</p>
	</div>--> 
	<div class="input-data">
		<label for="default-snGrad-schema">Gradientes normales a la superficie</label>
		<div>
			<select id="default-snGrad-schema">
				<option value="corrected">Corregido</option>
				<option value="orthogonal">Ortogonal</option>
			</select>
			<span class="material-symbols-rounded" onclick="showInfo('default-snGrad-schema')">info</span>
		</div>
	</div>
	<div id="default-snGrad-schema-info" class="info-div info-div-border" style="display: none;">
		<p>
			Esquemas aplicados en el cálculo
			de <a target="blank" href="https://www.openfoam.com/documentation/guides/latest/doc/guide-schemes-sngrad.html">gradientes normales a la superficie</a>. El
			esquema usado se deja a elección del usuario, las opciones para este último parámetro son:
		</p>
		<ul>
			<li><a target="blank" href="https://www.openfoam.com/documentation/guides/latest/doc/guide-schemes-sngrad-corrected.html">Corregido</a></li>
			<li><a target="blank" href="https://www.openfoam.com/documentation/guides/latest/doc/guide-schemes-sngrad-orthogonal.html">Ortogonal</a></li>
		</ul>
	</div>
	<div class="input-data">
		<label for="default-wall-schema">Cálculo de la distancia de pared</label>
		<div>
			<select id="default-wall-schema"> 
				<option value="cubic">Cubic</option>
				<option value="meshWave">MeshWave</option>
			</select>
			<span class="material-symbols-rounded" onclick="showInfo('default-wall-schema')">info</span>
		</div>
	</div>
	<div id="default-wall-schema-info" class="info-div info-div-border" style="display: none;">
		<p>
			Los métodos para <a target="blank" href="https://www.openfoam.com/documentation/guides/latest/doc/guide-schemes-wall-distance.html">cálculo de la distancia de pared</a>. REVISAR
		</p>
		<ul>
			<li><a target="blank" href="">Cúbica</a></li>
			<li><a target="blank" href="https://www.openfoam.com/documentation/guides/latest/doc/guide-schemes-wall-distance-meshwave.html">MeshWave</a></li>
		</ul>
	</div>
</section>
<div id="fvSchemes-variables-inputs"></div>