<div class="card-title">
	<h2 class="input-label">Parámetros de solución</h2>
	<span class="material-symbols-rounded" onclick="showSolverInfo()">info</span>
</div>
<div id="container-solvers-info" class="data-container info-div-solo" style="display: none;">
	<div id="solvers-info" class="info-div" style="display: none;">
		<p>
			En esta sección, se definen los <a target="blank" href="https://www.openfoam.com/documentation/user-guide/6-solving/6.3-solution-and-algorithm-control">parámetros de simulación</a>.
		</p>
		<p>
			Se habilita la edición de los solvers de todas las variables
			fluidas. Los parámetros a editar son los siguientes:
		</p>
		<ul>
			<li>
				<strong>Solver:</strong> especifica cada solver lineal usado para
				discretizar las ecuaciones de la variable concretada. Los 
				posibilidades de configuración en la aplicación son:
				<ul>
					<li>GAMG: multi-grid geométrico-algebráico generalizado</li>
					<li>PCG/PBiCG: gradiente (bi-)conjugado precondicionado</li>
					<li>
						PBiCGStab: gradiente (bi-)conjugado precondicionado estabilizado. Recomendado sobre
						PCG/PBiCG.
					</li>
					<li>smoothSolver: solver que usa un smoother</li>
				</ul>
			</li>
			<li>
				Las iteraciones del solver generan unos valores residuales entre las mismas. Estos
				residuales son una medida de error que, cuanto más pequeño sea, indica una precisión
				mayor en la solución. Estos residuales son evaluados tras cada iteración, de forma que
				el solver se detenga si alcanza ciertas condiciones. Las condiciones habilitadas a edición
				en la aplicación son:
				<ul>
					<li>
						<strong>Tolerancia:</strong> valor mínimo que puede alcanzar el residual.
					</li>
					<li>
						<strong>Tolerancia relativa:</strong> relación entre residuales actual e inicial
						de la iteración.
					</li>
				</ul>
			</li>
			<li>
				<strong>Precondicionador:</strong> trabaja con las matrices previo al cálculo de valores
				con el solver. Los valores habilitados son:
				<ul>
					<li>DILU: Diagonal incompleta-LU de Cholesky (asimétrica)</li>
					<li>DIC: Diagonal incompleta de Cholesky (simétrico)</li>
					<li>Gauss-Siedel</li>
					<li>GAMG: multi-grid geométrico-algebráico generalizado</li>
				</ul>
				También ha de especificarse el <strong>número de barridos</strong>, que indicará las veces que el
				residual será recalculado.
			</li>
			<li>
				<strong>Smoother:</strong> los solvers que usan smoother necesitan que este se especifique. La opción 
				más confiable, generalemente, es Gauss-Siedel, pero DIC puede ofrecer mejor convergencia. Las opciones son:
				<ul>
					<li>DILU: Diagonal incompleta-LU de Cholesky (asimétrica)</li>
					<li>DIC: Diagonal incompleta de Cholesky (simétrico)</li>
					<li>DIC Gauss-Siedel: Diagonal incompleta de Cholesky con Gauss-Siedel (simétrico)</li>
					<li>Gauss-Siedel</li>
					<li>GAMG: multi-grid geométrico-algebráico generalizado</li>
				</ul>
			</li>
		</ul>
		<p>
			El resto de parámetros de simulación tendrán la información en su sección.
		</p>
	</div>
</div>
<div id="fvSolution-variables-inputs"></div>
<div id="fvSolution-solver-inputs"></div>
<div id="fvSolution-relaxationFactors-inputs"></div>