<section class="data-container">
	<div class="input-data">
		<label class="short-label" for="simulation-name">Nombre para la simulación</label>
		<input class="long-input" id="simulation-name" onchange="isSecondContentAvailable()"/>
	</div>
	<div class="input-data">
		<label class="long-label" for="workspace">Ruta donde guardar los archivos</label>
		<div>
			<button class="buttons-style folder-button" id="workspace"
				type="button" onclick="selectFolder(id)">Seleccionar la carpeta</button>
			<span class="material-symbols-rounded" onclick="showInfo('workspace')">info</span>
		</div>
	</div>
	<div class="input-data" id="info-workspace">
		<div></div>
		<span id="route-workspace"></span>
	</div>
	<div id="workspace-info" class="info-div info-div-border" style="display: none;">
		<p>
			Debe seleccionar una ruta que no contenga espacios en blanco, ni caracteres especiales
			como tíldes o la letra ñ.
		</p>
	</div>
	<div class="input-data">
		<label class="long-label" for="mesh">Ruta de la malla</label>
		<div>
			<button class="buttons-style folder-button" id="mesh"
				type="button" onclick="selectFolder(id)">Seleccionar la carpeta</button>
			<span class="material-symbols-rounded" onclick="showInfo('mesh')">info</span>
		</div>
	</div>
	<div class="input-data" id="info-mesh">
		<button class="buttons-style folder-button" id="checkMesh" style="visibility: hidden;"
			type="button" onclick="checkMeshFormat()">Comprobar la malla</button>
		<span id="route-mesh"></span>
	</div>
	<div id="mesh-info" class="info-div info-div-border" style="display: none;">
		<p>
			Debe seleccionar la carpeta polyMesh que haya generado previamente.
		</p>
	</div>
	<div id="spinner-checkMesh" class="spinner-section" style="display: none;">
		<p>Comprobando malla...</p>
		<div class="lds-dual-ring"></div>
	</div>
</section>
<article id="flux-conditions" style="display: none;">
	<h2 class="input-label">Condiciones de simulación</h2>
	<section class="data-container">
		<div class="input-data">
			<label for="solver">Solver</label>
			<div>
				<select id="solver" onchange="solverChanges(value)">
					<option value="default">Seleccione...</option>
					<option value="icoFoam">icoFoam</option>
					<option value="simpleFoam">simpleFoam</option>
					<option value="pimpleFoam">pimpleFoam</option>
					<option value="pisoFoam">pisoFoam</option>
				</select>
				<span class="material-symbols-rounded" onclick="showInfo('solver')">info</span>
			</div>
		</div>
		<div id="solver-info" class="info-div info-div-border" style="display: none;">
			<p>El solver es el algoritmo numérico para resolver las ecuaciones fundamentales de la dinámica de fluidos (Navier-Stokes) y la transferencia de calor.</p>
			<p>Cada solver en OpenFOAM se adapta para resolver un conjunto específico de ecuaciones y problemas. Hay solvers disponibles para diferentes tipos de flujos, condiciones de contorno y geometrías. en concreto, la aplicación está diseñada para realizar simulaciones incompresibles. En concreto los solvers presentes en el selector son:</p>
			<ul>
				<li><strong>icoFoam:</strong> Solver transitorio para fluidos Newtonianos, laminares e incompresibles.</li>
				<li>
					<strong>simpleFoam:</strong>
					Solver para flujos incompresibles en estado estacionario y turbulento. Utiliza el
					<a target="blank" href="https://www.cfd-online.com/Wiki/SIMPLE_algorithm">algoritmo SIMPLE</a>.
				</li>
				<li>
					<strong>pisoFoam:</strong> Solver transitorio para flujos incompresibles y turbulentos que utiliza el 
					<a target="blank" href="https://en.wikipedia.org/wiki/PISO_algorithm">algoritmo PISO</a>.
				</li>
				<li>
					<strong>pimpleFoam:</strong>
					Solver transitorio para flujos Newtonianos incompresibles y turbulentos que utiliza el 
					<a target="blank" href="https://www.cfd-online.com/Forums/openfoam-solving/169885-pimple-algorithm.html">algoritmo PIMPLE</a>,
					el cual combina los algoritmos PISO y SIMPLE.
				</li>
			</ul>
		</div>
		<div id="turbulence-model-div" class="input-data">
			<label for="turbulence-model">Modelo de turbulencia</label>
			<div>
				<select id="turbulence-model" onchange="modelChanges(value)"></select>
				<span class="material-symbols-rounded" onclick="showInfo('turbulence-model')">info</span>
			</div>
		</div>
		<div id="turbulence-model-info" class="info-div info-div-border" style="display: none;">
			<p>Un modelo de turbulencia es una representación matemática y simplificada de los fenómenos turbulentos en un flujo de fluido. La turbulencia se refiere al comportamiento caótico y altamente complejo que puede ocurrir en los flujos de fluidos, donde las propiedades como la velocidad y la presión varían aleatoriamente en el tiempo y el espacio. Debido a la naturaleza caótica de la turbulencia, resolver completamente las ecuaciones de Navier-Stokes para describir todos los detalles del flujo turbulentos es computacionalmente inabordable en la mayoría de los casos prácticos.</p>
			<p>Los modelos de turbulencia se utilizan para aproximarse a la descripción de la turbulencia en un flujo sin la necesidad de resolver todas las escalas y detalles en el dominio. En lugar de calcular directamente las fluctuaciones turbulentas en una simulación, se introducen ecuaciones y relaciones que representan estadísticas o características macroscópicas del flujo turbulento. Estos modelos permiten capturar los efectos generales de la turbulencia en la simulación de manera más eficiente.</p>
			<p>La aplicación permite simular flujos laminares o usar métodos RANS(Reynolds-Averaged Navier-Stokes) que promedian las ecuaciones de Navier-Stokes en el tiempo para obtener un conjunto de ecuaciones promediadas:</p>
			<ul>
				<li><strong>Flujo laminar:</strong>
					Flujo sin perturbar. No se simulan turbulencias.
				</li>
				<li>
					<strong>
						<a target="blank" href="https://www.openfoam.com/documentation/guides/latest/doc/guide-turbulence-ras-k-epsilon.html">kEpsilon</a>:
					</strong>
					Modelo estándar de dos ecuaciones de transporte para flujos incompresibles. Uso muy exntendido con reconocido rendimiento.
				</li>
				<li>
					<strong>
						<a target="blank" href="https://www.openfoam.com/documentation/guides/latest/doc/guide-turbulence-ras-k-omega-sst.html">kOmegaSST</a>:
					</strong>
					Modelo de dos ecuaciones a partir del modelo estándar kOmega. Usado en gran variedad de campos.
				</li>
				<li>
					<strong>
						<a target="blank" href="https://www.openfoam.com/documentation/guides/latest/doc/guide-turbulence-ras-spalart-allmaras.html">Spalart-Allmaras</a>:
					</strong>
					Modelo de única ecuación basado en una viscosidad de turbulencia modificada. Es muy usado en el ámbito aeroespacial.
				</li>
			</ul>
		</div>
	</section>
</article>