<section class="main-zero">
	<h2 class="input-label">Datos del flujo</h2>
	<div class="data-container">
		<div class="input-data">
			<label for="flux-U">Velocidad de flujo</label>
			<div>
				<input class="long-input" id="flux-U" type="number"/>
				<span class="material-symbols-rounded" onclick="showInfo('flux-U')">info</span>
			</div>
		</div>
		<div id="flux-U-info" class="info-div info-div-border" style="display: none;"></div>
		<div class="input-data">
			<label for="flux-aoa">Ángulo de incidencia</label>
			<div>
				<input class="long-input" id="flux-aoa" type="number"/>
				<span class="material-symbols-rounded" onclick="showInfo('flux-aoa')">info</span>
			</div>
		</div>
		<div id="flux-aoa-info" class="info-div info-div-border" style="display: none;"></div>
		<div class="input-data">
			<label for="flux-p">Presión del flujo</label>
			<div>
				<input class="long-input" id="flux-p" type="number"/>
				<span class="material-symbols-rounded" onclick="showInfo('flux-p')">info</span>
			</div>
		</div>
		<div id="flux-p-info" class="info-div info-div-border" style="display: none;"></div>
		<div class="input-data">
			<label for="flux-density">Densidad de flujo</label>
			<div>
				<input class="long-input" id="flux-density" type="number"/>
				<span class="material-symbols-rounded" onclick="showInfo('flux-density')">info</span>
			</div>
		</div>
		<div id="flux-density-info" class="info-div info-div-border" style="display: none;"></div>
		<div class="input-data">
			<label for="flux-viscosity">Viscosidad de flujo</label>
			<div>
				<input class="long-input" id="flux-viscosity"  type="number"/>
				<span class="material-symbols-rounded" onclick="showInfo('flux-viscosity')">info</span>
			</div>
		</div>
		<div id="flux-viscosity-info" class="info-div info-div-border" style="display: none;"></div>
	</div>
</section>
<div id="boundary-conditions"></div>