<div class="main-zero">
	<h2 class="input-label">Datos del flujo</h2>
	<div class="data-container">
		<div class="input-data">
			<label for="flux-velocity">Velocidad de flujo</label>
			<input class="long-input" id="flux-velocity" />
		</div>
		<br>
		<div class="input-data">
			<label for="flux-aoa">Ángulo de incidencia</label>
			<input class="long-input" id="flux-aoa" type="number"/>
		</div>
		<br>
		<div class="input-data">
			<label for="flux-pressure">Presión del flujo</label>
			<input class="long-input" id="flux-pressure" type="number"/>
		</div>
		<div class="input-data">
			<label for="flux-density">Densidad de flujo</label>
			<input class="long-input" id="flux-density" />
		</div>
		<div class="input-data">
			<label for="flux-viscosity">Viscosidad de flujo</label>
			<input class="long-input" id="flux-viscosity" />
		</div>
	</div>
</div>
<div id="boundary-conditions"></div>